In [35]:
import pandas as pd
import operator

In [36]:
data = pd.read_excel('kofe-2.xlsx')
data.drop('id', axis=1, inplace=True)
data.shape

(1354, 52)

In [37]:
data.describe()

,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Number of Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,NA.2,Moisture,Quakers,NA.3,Unnamed: 51
count,0.0,0.0,0.0,1340.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,0.0,1337.000000,1336.000000,0.0,0.0
mean,NaN,NaN,NaN,154.067910,7.565931,7.519589,7.400120,7.535610,7.520000,7.516126,9.827651,9.827883,9.847195,7.502573,NaN,0.088265,0.173653,NaN,NaN
std,NaN,NaN,NaN,130.006861,0.380141,0.400798,0.405863,0.380411,0.361518,0.417258,0.616560,0.810312,0.684493,0.475396,NaN,0.048373,0.832717,NaN,NaN
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,NaN,0.090000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,172.500000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,NaN,0.110000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,NaN,0.120000,0.000000,NaN,NaN
max,NaN,NaN,NaN,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,NaN,0.280000,11.000000,NaN,NaN

In [38]:
def search_nulles(data):
    nulles = data.isnull().sum().sort_values(ascending=False)
    percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([nulles, percent], axis=1, keys=['Nulles', 'Percent'])
    return missing_data

search_nulles(data).head(30)

                                  Nulles   Percent
Cupping Protocol and Descriptors    1354  1.000000
View Green Analysis Details         1354  1.000000
NA.3                                1354  1.000000
Request a Sample                    1354  1.000000
Unnamed: 51                         1354  1.000000
NA.2                                1354  1.000000
view_certificate_2                  1353  0.999261
view_certificate_1                  1351  0.997784
Notes                               1349  0.996307
Lot Number                          1078  0.796160
Farm Name                            373  0.275480
Mill                                 329  0.242984
Producer                             246  0.181684
Variety                              244  0.180207
Altitude                             236  0.174298
Color                                236  0.174298
Company                              224  0.165436
Processing Method                    188  0.138848
ICO Number                           171  0.126292
Region                                72  0.053176
Harvest Year                          62  0.045790
Owner.1                               23  0.016987
Owner                                 21  0.015510
Certification Contact                 19  0.014032
NA                                    19  0.014032
Quakers                               18  0.013294
Total Cup Points                      17  0.012555
Moisture                              17  0.012555
NA.1                                  17  0.012555
Category One Defects                  17  0.012555

In [39]:
print('Так как некоторые столбцы полностью заполнены нулевыми значениями, то их можно удалить')
print('Более того, можно удалить столбцы с более 50% пропусков')
data.drop("Cupping Protocol and Descriptors", axis=1, inplace=True)
data.drop("View Green Analysis Details", axis=1, inplace=True)
data.drop("NA.3", axis=1, inplace=True)
data.drop("Request a Sample", axis=1, inplace=True)
data.drop("Unnamed: 51", axis=1, inplace=True)
data.drop("NA.2", axis=1, inplace=True)
data.drop("view_certificate_2", axis=1, inplace=True)
data.drop("view_certificate_1", axis=1, inplace=True)
data.drop("Notes", axis=1, inplace=True)
data.drop("Lot Number", axis=1, inplace=True)

Так как некоторые столбцы полностью заполнены нулевыми значениями, то их можно удалить
Более того, можно удалить столбцы с более 50% пропусков

In [40]:
print('Проверим ещё раз нулевые значения')
search_nulles(data).head(30)

Проверим ещё раз нулевые значения

                       Nulles   Percent
Farm Name                 373  0.275480
Mill                      329  0.242984
Producer                  246  0.181684
Variety                   244  0.180207
Color                     236  0.174298
Altitude                  236  0.174298
Company                   224  0.165436
Processing Method         188  0.138848
ICO Number                171  0.126292
Region                     72  0.053176
Harvest Year               62  0.045790
Owner.1                    23  0.016987
Owner                      21  0.015510
Certification Contact      19  0.014032
NA                         19  0.014032
Quakers                    18  0.013294
Balance                    17  0.012555
Sweetness                  17  0.012555
Category Two Defects       17  0.012555
Category One Defects       17  0.012555
Moisture                   17  0.012555
Total Cup Points           17  0.012555
Cupper Points              17  0.012555
Certification Body         17  0.012555
Body                       17  0.012555
Expiration                 17  0.012555
Clean Cup                  17  0.012555
Uniformity                 17  0.012555
Status                     17  0.012555
NA.1                       17  0.012555

In [41]:
print('Заметим, что в самом конце таблицы с нулями есть атрибуты с одинаковым количеством нулей. Посмотрим на эти данные')
print('Есть целые строчки с нулевыми значениям. Так как они не несут нам пользы - удалим их')
# data[data['Moisture'].isnull()]

Заметим, что в самом конце таблицы с нулями есть атрибуты с одинаковым количеством нулей. Посмотрим на эти данные
Есть целые строчки с нулевыми значениям. Так как они не несут нам пользы - удалим их

In [43]:
search_nulles(data).head(44)

                       Nulles   Percent
Farm Name                 373  0.275480
Mill                      329  0.242984
Producer                  246  0.181684
Variety                   244  0.180207
Color                     236  0.174298
Altitude                  236  0.174298
Company                   224  0.165436
Processing Method         188  0.138848
ICO Number                171  0.126292
Region                     72  0.053176
Harvest Year               62  0.045790
Owner.1                    23  0.016987
Owner                      21  0.015510
Certification Contact      19  0.014032
NA                         19  0.014032
Quakers                    18  0.013294
Balance                    17  0.012555
Sweetness                  17  0.012555
Category Two Defects       17  0.012555
Category One Defects       17  0.012555
Moisture                   17  0.012555
Total Cup Points           17  0.012555
Cupper Points              17  0.012555
Certification Body         17  0.012555
Body                       17  0.012555
Expiration                 17  0.012555
Clean Cup                  17  0.012555
Uniformity                 17  0.012555
Status                     17  0.012555
NA.1                       17  0.012555
Certification Address      17  0.012555
Aroma                      17  0.012555
Flavor                     17  0.012555
Aftertaste                 17  0.012555
Acidity                    17  0.012555
Country of Origin          15  0.011078
Grading Date               15  0.011078
Species                    14  0.010340
In-Country Partner         14  0.010340
Number of Bags             14  0.010340
Bag Weight                 14  0.010340
quality_score               9  0.006647

In [44]:
# data.reset_index(drop=True)

In [45]:
data[data['Farm Name'].isnull() == False][['Owner', 'Owner.1', 'Farm Name', 'Mill', 'Company', 'Producer']].head(50)

,Owner,Owner.1,Farm Name,Mill,Company,Producer
0,metad plc,metad plc,METAD PLC,METAD PLC,METAD Agricultural Developmet plc,METAD PLC
1,metad plc,metad plc,METAD PLC,METAD PLC,METAD Agricultural Developmet plc,METAD PLC
2,Grounds for Health Admin,Grounds for Health Admin,"San Marcos Barrancas ""San Cristobal Cuch",NaN,NaN,NaN
3,Yidnekachew Dabessa,Yidnekachew Dabessa,Yidnekachew Dabessa Coffee Plantation,Wolensu,Yidnekachew Debessa Coffee Plantation,Yidnekachew Dabessa Coffee Plantation
4,metad plc,metad plc,METAD PLC,METAD PLC,METAD Agricultural Developmet plc,METAD PLC
7,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Aolme,C.P.W.E,NaN,Bazen Agricultural & Industrial Dev't Plc
8,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Aolme,C.P.W.E,NaN,Bazen Agricultural & Industrial Dev't Plc
9,Diamond Enterprise Plc,Diamond Enterprise Plc,Tulla Coffee Farm,Tulla Coffee Farm,DIAMOND ENTERPRISE PLC,Diamond Enterprise Plc
10,Mohammed Lalo,Mohammed Lalo,Fahem Coffee Plantation,NaN,Fahem Coffee Plantation,Fahem Coffee Plantation
11,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,El filo,NaN,Coffee Quality Institute,Alfredo De Jesús López Pérez
12,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,Los Cedros,NaN,Coffee Quality Institute,Jorge Walter Restrepo
13,Grounds for Health Admin,Grounds for Health Admin,Arianna Farms,NaN,NaN,"Robert, Sharon, Arianna Wood"
14,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Aolme,C.P.W.E,NaN,Bazen Agricultural & Industrial Dev't Plc
15,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,El Águila,NaN,Coffee Quality Institute,María Leticia Diosa
16,Grounds for Health Admin,Grounds for Health Admin,Toarco Jaya,NaN,NaN,P.T. Toarco Jaya
18,Yunnan Coffee Exchange,Yunnan Coffee Exchange,Echo Coffee,Echo Coffee Mill,Yunnan Coffee Exchange,Echo Coffee
19,EssenceCoffee,EssenceCoffee,Drima Zede,Drima Zede,Essence Coffee,LevelUp
20,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,El Rodeo,NaN,Coffee Quality Institute,Nicolás Rueda Urrego
21,The Coffee Source Inc.,The Coffee Source Inc.,SEVERAL,CAFE DE ALTURA SAN RAMON,The Coffee Source Inc.,SEVERAL
22,ROBERTO LICONA FRANCO,ROBERTO LICONA FRANCO,LA HERRADURA,LA HERRADURA,NaN,ROBERTO LICONA FRANCO
23,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,La curva,NaN,Coffee Quality Institute,Silvia Elena Higuita
25,NUCOFFEE,NUCOFFEE,Fazenda Kaquend,NaN,NUCOFFEE,Ralph Junqueira
27,Kabum Trading company,Kabum Trading company,Chebonet (23) women coffee,Kabum trading company,Kabum Trading company,Kabum trading company
28,Bismarck Castro,Bismarck Castro,Los Hicaques,CIGRAH S.A. DE C.V.,CIGRAH S.A DE C.V,Reinerio Zepeda
29,"Lin, Che-Hao Krude 林哲豪","Lin, Che-Hao Krude 林哲豪",Tsoustructive Garden 鄒築園,Tsoustructive Garden 鄒築園,Taiwan Coffee Laboratory,"FANG,ZHENG-LUN 方政倫"
32,NUCOFFEE,NUCOFFEE,Fazenda Recreio,NaN,NUCOFFEE,Homero Texeira de Macedo Junior
33,Francisco A Mena,Francisco A Mena,Exclusive Coffees S.A.,"Exclusive Coffees S.A,",Exclusive Coffees S.A.,Exclusive Coffees S.A.
34,Hider Abamecha,Hider Abamecha,Haider Abamecha Coffee Plantation,Faysal Abamecha Processing Plant at yebu Town,Haider Abamecha Coffee Export,Haider Abamecha Abadiko
35,Daniel Magu,Daniel Magu,Kangunu,central kenya coffee mills,C dorman Ltd,Kangunu
37,Kona Pacific Farmers Cooperative,Kona Pacific Farmers Cooperative,Kona Pacific Farmers Co-Op,NaN,NaN,Kona Pacific Farmers Co-Op
38,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,"Phone number | 0911-51-08-01, Email | at",NaN,NaN,Contact name | ATO Teshome Belamo
39,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,La Primavera,NaN,Coffee Quality Institute,Hugo Sepúlveda Montoya
40,ITDP International,ITDP International,Co-op #12,NaN,Lanna Cafe,ITDP
41,Jacques Pereira Carneiro,Jacques Pereira Carneiro,Pereira Estate Coffee,Cocarive,NaN,Maria Rogeria Costa Pereira
42,Jacques Pereira Carneiro,Jacques Pereira Carneiro,Pereira Estate Coffee,Cocarive,NaN,Maria Rogeria Costa Pereira
43,"Lin, Che-Hao Krude 林哲豪","Lin, Che-Hao Krude 林哲豪",Sunshine Valley Estate 向陽高山咖啡,Sunshine Valley Estate 向陽高山咖啡,Taiwan Coffee Laboratory,LIN YEN CHIEN 林言謙
44,Jungle Estate,Jungle Estate,JUNGLE ESTATE,NKG COFFEE MILLS,Keremara Limited,JUNGLE ESTATE
45,NUCOFFEE,NUCOFFEE,Fazenda Kaquend,NaN,NUCOFFEE,Ralph Junqueira
46,Great Lakes Coffee Uganda,Great Lakes Coffee Uganda,Kaasayi,Great Lakes,UCDA,Kaasay Farmer Group
47,LUSSO LAB,LUSSO LAB,Ecobio Colombia,NaN,LUSSO COFFEE LAB,NaN
48,LUSSO LAB,LUSSO LAB,KIANJAVI,NaN,LUSSO COFFEE LAB,NaN
50,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Contact | sidacoop@ethionet.net,Coffee Processing and Warehouse Enterpri,NaN,Sidama Coffee Farmers Coop. Union
51,Grounds for Health Admin,Grounds for Health Admin,Hula Daddy Kona Coffee,NaN,NaN,Hula Daddy Kona Coffee
52,Juan Luis Alvarado Romero,Juan Luis Alvarado Romero,LA ESPERANZA Y ANEXOS,BENEFICIO IXCHEL,"UNEX GUATEMALA, S.A.",MARGARITA AVILA DE NUYENS
53,Kawacom Uganda LTD,Kawacom Uganda LTD,Sipi organic coffee project,Kawacom (U) Ltd,Kawacom uganda LTD,Kawacom (U)Ltd
55,Gonzalo Hernandez,Gonzalo Hernandez,La Berlina Estate,Beneficio Casa Ruiz S.A.,CE Specialty S.A.,Plinio Ruiz
57,Juan Luis Alvarado Romero,Juan Luis Alvarado Romero,VALPARAISO,BENEFICIO VALPARAISO,SERTRASA,SERTRASA
58,Juan Luis Alvarado Romero,Juan Luis Alvarado Romero,FINCA EL LIMON,BENEFICIO SERBEN KM 21.5 CARRETERA A VILLA CAN...,"UNICAFE, S.A",WILLIAM ESTUARDO MARTINEZ PACHECO
59,SEID DAMTEW COFFEE PLANATAION,SEID DAMTEW COFFEE PLANATAION,seid damtew coffee export and plantation,seid damtew coffee export and plantation,Seid Damtew Coffee Planation,seid damtew coffee export and plantation
61,"Colbran Coffeelands, Ltd.","Colbran Coffeelands, Ltd.",Tairora Cherry – Bonta,Baroida,CQI,"Colbran CoffeeLands, Ltd."

In [46]:
data[data['Owner'] != data['Owner.1']][['Owner', 'Owner.1']]

                         Owner    Owner.1
219                 CECA, S.A.  CECA,S.A.
364                        NaN        NaN
459                        NaN        NaN
602                        NaN        NaN
848                        NaN        NaN
882                        NaN        NaN
918                        NaN        NaN
921                        NaN        NaN
922                        NaN        NaN
964              Klem Organics        NaN
965                        NaN        NaN
966                        NaN        NaN
967                        NaN        NaN
981                        NaN        NaN
1050                       NaN        NaN
1089  CQI Taiwan ICP CQI台灣合作夥伴        NaN
1090                       NaN        NaN
1091                       NaN        NaN
1092                       NaN        NaN
1093                       NaN        NaN
1094                       NaN        NaN
1095                       NaN        NaN
1242                       NaN        NaN
1243                       NaN        NaN

In [47]:
data.drop("Owner.1", axis=1, inplace=True)

In [48]:
nulles = {}

def isNaN(num):
    return num != num

def NaN_in_row(data):
    i = 0
    while i < len(data):
        line = data.iloc[i]
        for item in line:
            if isNaN(item):
                if i in nulles.keys():
                    nulles[i] += 1
                else:
                    nulles[i] = 1
        i += 1
    return dict(sorted(nulles.items(), key=operator.itemgetter(1), reverse=True))
nulles = NaN_in_row(data)
nulles

{918: 41,
 922: 41,
 967: 41,
 1091: 41,
 1093: 41,
 1094: 41,
 1095: 41,
 1242: 41,
 1243: 41,
 921: 40,
 965: 40,
 966: 40,
 1090: 40,
 1092: 40,
 1089: 28,
 964: 26,
 920: 25,
 1209: 11,
 334: 10,
 373: 10,
 414: 10,
 415: 10,
 495: 10,
 528: 10,
 529: 10,
 629: 10,
 991: 10,
 1065: 10,
 1072: 10,
 1073: 10,
 1125: 10,
 1150: 10,
 30: 9,
 114: 9,
 142: 9,
 257: 9,
 293: 9,
 313: 9,
 392: 9,
 526: 9,
 532: 9,
 558: 9,
 606: 9,
 632: 9,
 755: 9,
 908: 9,
 936: 9,
 1256: 9,
 2: 8,
 5: 8,
 93: 8,
 104: 8,
 189: 8,
 394: 8,
 673: 8,
 909: 8,
 1035: 8,
 1176: 8,
 1232: 8,
 1261: 8,
 17: 7,
 24: 7,
 26: 7,
 31: 7,
 94: 7,
 95: 7,
 170: 7,
 557: 7,
 858: 7,
 935: 7,
 1105: 7,
 1353: 7,
 13: 6,
 16: 6,
 37: 6,
 38: 6,
 51: 6,
 81: 6,
 82: 6,
 134: 6,
 178: 6,
 183: 6,
 223: 6,
 240: 6,
 264: 6,
 266: 6,
 294: 6,
 311: 6,
 312: 6,
 352: 6,
 360: 6,
 379: 6,
 393: 6,
 395: 6,
 407: 6,
 437: 6,
 438: 6,
 443: 6,
 475: 6,
 493: 6,
 527: 6,
 548: 6,
 631: 6,
 645: 6,
 690: 6,
 704: 6,
 725: 6,
 776: 6,
 784: 6,
 793: 6,
 822: 6,
 824: 6,
 857: 6,
 862: 6,
 869: 6,
 876: 6,
 951: 6,
 952: 6,
 1128: 6,
 1141: 6,
 1179: 6,
 1227: 6,
 1309: 6,
 1352: 6,
 36: 5,
 60: 5,
 64: 5,
 72: 5,
 100: 5,
 117: 5,
 152: 5,
 169: 5,
 187: 5,
 188: 5,
 267: 5,
 320: 5,
 421: 5,
 439: 5,
 477: 5,
 490: 5,
 492: 5,
 494: 5,
 521: 5,
 530: 5,
 612: 5,
 623: 5,
 635: 5,
 637: 5,
 681: 5,
 735: 5,
 749: 5,
 814: 5,
 832: 5,
 946: 5,
 1003: 5,
 1042: 5,
 1113: 5,
 1142: 5,
 1160: 5,
 1264: 5,
 1287: 5,
 1305: 5,
 1306: 5,
 1311: 5,
 1316: 5,
 6: 4,
 7: 4,
 8: 4,
 10: 4,
 14: 4,
 50: 4,
 74: 4,
 86: 4,
 91: 4,
 103: 4,
 105: 4,
 118: 4,
 119: 4,
 123: 4,
 124: 4,
 143: 4,
 176: 4,
 190: 4,
 205: 4,
 237: 4,
 239: 4,
 292: 4,
 308: 4,
 359: 4,
 374: 4,
 390: 4,
 405: 4,
 411: 4,
 430: 4,
 461: 4,
 476: 4,
 483: 4,
 486: 4,
 488: 4,
 491: 4,
 531: 4,
 556: 4,
 577: 4,
 596: 4,
 597: 4,
 604: 4,
 630: 4,
 644: 4,
 652: 4,
 672: 4,
 687: 4,
 707: 4,
 713: 4,
 718: 4,
 744: 4,
 765: 4,
 786: 4,
 792: 4,
 851: 4,
 856: 4,
 875: 4,
 881: 4,
 884: 4,
 894: 4,
 907: 4,
 955: 4,
 1012: 4,
 1024: 4,
 1041: 4,
 1054: 4,
 1066: 4,
 1082: 4,
 1104: 4,
 1112: 4,
 1143: 4,
 1155: 4,
 1180: 4,
 1200: 4,
 1219: 4,
 1238: 4,
 1245: 4,
 1246: 4,
 1251: 4,
 1280: 4,
 1300: 4,
 1310: 4,
 1324: 4,
 1331: 4,
 1332: 4,
 1338: 4,
 1346: 4,
 1349: 4,
 41: 3,
 42: 3,
 46: 3,
 70: 3,
 106: 3,
 137: 3,
 150: 3,
 151: 3,
 154: 3,
 181: 3,
 224: 3,
 235: 3,
 247: 3,
 250: 3,
 263: 3,
 275: 3,
 278: 3,
 281: 3,
 286: 3,
 299: 3,
 321: 3,
 322: 3,
 345: 3,
 363: 3,
 366: 3,
 397: 3,
 412: 3,
 418: 3,
 452: 3,
 453: 3,
 455: 3,
 501: 3,
 549: 3,
 567: 3,
 601: 3,
 611: 3,
 614: 3,
 626: 3,
 628: 3,
 636: 3,
 639: 3,
 657: 3,
 658: 3,
 691: 3,
 699: 3,
 701: 3,
 754: 3,
 758: 3,
 760: 3,
 762: 3,
 778: 3,
 805: 3,
 823: 3,
 953: 3,
 992: 3,
 995: 3,
 1029: 3,
 1043: 3,
 1061: 3,
 1067: 3,
 1098: 3,
 1133: 3,
 1203: 3,
 1212: 3,
 1223: 3,
 1226: 3,
 1271: 3,
 1274: 3,
 1275: 3,
 1281: 3,
 1292: 3,
 1328: 3,
 1339: 3,
 1341: 3,
 1350: 3,
 1351: 3,
 3: 2,
 11: 2,
 12: 2,
 15: 2,
 23: 2,
 39: 2,
 47: 2,
 48: 2,
 49: 2,
 54: 2,
 56: 2,
 67: 2,
 79: 2,
 83: 2,
 85: 2,
 89: 2,
 90: 2,
 92: 2,
 97: 2,
 101: 2,
 107: 2,
 110: 2,
 111: 2,
 120: 2,
 127: 2,
 136: 2,
 141: 2,
 144: 2,
 145: 2,
 146: 2,
 153: 2,
 162: 2,
 165: 2,
 173: 2,
 174: 2,
 185: 2,
 197: 2,
 198: 2,
 199: 2,
 204: 2,
 209: 2,
 211: 2,
 216: 2,
 222: 2,
 228: 2,
 230: 2,
 231: 2,
 244: 2,
 248: 2,
 249: 2,
 252: 2,
 256: 2,
 268: 2,
 270: 2,
 287: 2,
 295: 2,
 304: 2,
 305: 2,
 306: 2,
 307: 2,
 325: 2,
 328: 2,
 337: 2,
 339: 2,
 343: 2,
 344: 2,
 347: 2,
 349: 2,
 356: 2,
 361: 2,
 365: 2,
 371: 2,
 384: 2,
 386: 2,
 398: 2,
 408: 2,
 426: 2,
 428: 2,
 435: 2,
 436: 2,
 462: 2,
 467: 2,
 469: 2,
 479: 2,
 487: 2,
 489: 2,
 513: 2,
 514: 2,
 517: 2,
 523: 2,
 525: 2,
 535: 2,
 550: 2,
 552: 2,
 571: 2,
 592: 2,
 595: 2,
 600: 2,
 603: 2,
 622: 2,
 627: 2,
 640: 2,
 648: 2,
 651: 2,
 664: 2,
 668: 2,
 669: 2,
 671: 2,
 679: 2,
 702: 2,
 703: 2,
 723: 2,
 733: 2,
 752: 2,
 753: 2,
 764: 2,
 768: 2,
 771: 2,
 773: 2,
 777: 2,
 802: 2,
 808: 2,
 811: 2,
 840: 2,
 845: 2,
 850: 2,
 867: 2,
 868: 2,
 874: 2,
 890: 2,
 905: 2,
 906: 2,
 913: 2,
 949: 2,
 982: 2,
 987: 2,
 1004: 2,
 1008: 2,
 1031: 2,
 1044: 2,
 1063: 2,
 1077: 2,
 1085: 2,
 1110: 2,
 1117: 2,
 1126: 2,
 1146: 2,
 1159: 2,
 1167: 2,
 1168: 2,
 1171: 2,
 1175: 2,
 1183: 2,
 1185: 2,
 1189: 2,
 1236: 2,
 1247: 2,
 1248: 2,
 1260: 2,
 1270: 2,
 1279: 2,
 1286: 2,
 1289: 2,
 1297: 2,
 1298: 2,
 1326: 2,
 1327: 2,
 1329: 2,
 1330: 2,
 1335: 2,
 1336: 2,
 1340: 2,
 1342: 2,
 1343: 2,
 1344: 2,
 1345: 2,
 1347: 2,
 0: 1,
 18: 1,
 19: 1,
 20: 1,
 22: 1,
 25: 1,
 28: 1,
 32: 1,
 34: 1,
 40: 1,
 45: 1,
 52: 1,
 55: 1,
 59: 1,
 61: 1,
 63: 1,
 65: 1,
 66: 1,
 73: 1,
 75: 1,
 80: 1,
 87: 1,
 88: 1,
 96: 1,
 98: 1,
 99: 1,
 102: 1,
 112: 1,
 113: 1,
 126: 1,
 131: 1,
 135: 1,
 140: 1,
 156: 1,
 157: 1,
 158: 1,
 160: 1,
 166: 1,
 167: 1,
 168: 1,
 177: 1,
 179: 1,
 180: 1,
 184: 1,
 186: 1,
 192: 1,
 193: 1,
 196: 1,
 200: 1,
 207: 1,
 218: 1,
 229: 1,
 232: 1,
 234: 1,
 236: 1,
 238: 1,
 241: 1,
 253: 1,
 260: 1,
 265: 1,
 272: 1,
 274: 1,
 289: 1,
 290: 1,
 297: 1,
 300: 1,
 301: 1,
 303: 1,
 309: 1,
 315: 1,
 324: 1,
 331: 1,
 332: 1,
 338: 1,
 341: 1,
 346: 1,
 348: 1,
 350: 1,
 351: 1,
 353: 1,
 354: 1,
 364: 1,
 368: 1,
 369: 1,
 375: 1,
 377: 1,
 381: 1,
 382: 1,
 383: 1,
 396: 1,
 409: 1,
 413: 1,
 416: 1,
 417: 1,
 420: 1,
 422: 1,
 431: 1,
 432: 1,
 434: 1,
 444: 1,
 447: 1,
 448: 1,
 457: 1,
 459: 1,
 465: 1,
 466: 1,
 468: 1,
 470: 1,
 471: 1,
 472: 1,
 474: 1,
 478: 1,
 502: 1,
 509: 1,
 515: 1,
 516: 1,
 518: 1,
 520: 1,
 540: 1,
 542: 1,
 543: 1,
 553: 1,
 554: 1,
 559: 1,
 563: 1,
 564: 1,
 568: 1,
 570: 1,
 573: 1,
 574: 1,
 576: 1,
 578: 1,
 583: 1,
 586: 1,
 590: 1,
 602: 1,
 609: 1,
 620: 1,
 621: 1,
 641: 1,
 647: 1,
 649: 1,
 654: 1,
 660: 1,
 661: 1,
 666: 1,
 674: 1,
 678: 1,
 680: 1,
 682: 1,
 686: 1,
 689: 1,
 694: 1,
 696: 1,
 697: 1,
 698: 1,
 706: 1,
 711: 1,
 720: 1,
 721: 1,
 727: 1,
 730: 1,
 732: 1,
 734: 1,
 742: 1,
 743: 1,
 745: 1,
 748: 1,
 750: 1,
 769: 1,
 772: 1,
 774: 1,
 787: 1,
 788: 1,
 789: 1,
 790: 1,
 791: 1,
 797: 1,
 809: 1,
 810: 1,
 812: 1,
 825: 1,
 827: 1,
 828: 1,
 829: 1,
 830: 1,
 831: 1,
 834: 1,
 841: 1,
 848: 1,
 854: 1,
 855: 1,
 860: 1,
 863: 1,
 864: 1,
 865: 1,
 866: 1,
 882: 1,
 885: 1,
 886: 1,
 891: 1,
 895: 1,
 901: 1,
 917: 1,
 924: 1,
 925: 1,
 928: 1,
 929: 1,
 930: 1,
 931: 1,
 934: 1,
 937: 1,
 948: 1,
 950: 1,
 962: 1,
 963: 1,
 974: 1,
 977: 1,
 978: 1,
 981: 1,
 988: 1,
 990: 1,
 993: 1,
 994: 1,
 998: 1,
 1000: 1,
 1001: 1,
 1002: 1,
 1006: 1,
 1011: 1,
 1015: 1,
 1016: 1,
 1018: 1,
 1019: 1,
 1021: 1,
 1022: 1,
 1023: 1,
 1032: 1,
 1033: 1,
 1034: 1,
 1036: 1,
 1040: 1,
 1050: 1,
 1052: 1,
 1055: 1,
 1064: 1,
 1074: 1,
 1087: 1,
 1097: 1,
 1099: 1,
 1100: 1,
 1101: 1,
 1103: 1,
 1108: 1,
 1109: 1,
 1114: 1,
 1116: 1,
 1118: 1,
 1129: 1,
 1130: 1,
 1131: 1,
 1137: 1,
 1138: 1,
 1139: 1,
 1140: 1,
 1147: 1,
 1148: 1,
 1151: 1,
 1154: 1,
 1157: 1,
 1163: 1,
 1174: 1,
 1178: 1,
 1181: 1,
 1182: 1,
 1184: 1,
 1191: 1,
 1192: 1,
 1193: 1,
 1202: 1,
 1205: 1,
 1208: 1,
 1213: 1,
 1222: 1,
 1225: 1,
 1231: 1,
 1235: 1,
 1241: 1,
 1244: 1,
 1258: 1,
 1259: 1,
 1265: 1,
 1273: 1,
 1276: 1,
 1277: 1,
 1283: 1,
 1296: 1,
 1302: 1,
 1303: 1,
 1304: 1,
 1308: 1,
 1314: 1,
 1321: 1,
 1325: 1,
 1333: 1,
 1348: 1}

In [49]:
d = dict((k, v) for k, v in nulles.items() if v >= 40)
drop = list(d)

data.drop(data.index[drop], inplace=True)

data.reset_index(drop=True)

,quality_score,Species,Owner,Country of Origin,Farm Name,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,90.58,Arabica,metad plc,Ethiopia,METAD PLC,METAD PLC,2014/2015,METAD Agricultural Developmet plc,1950-2200,GUJI-HAMBELA/GOYO,...,Sample 90.58,0.12,0 full defects,0.0,Green,0 full defects,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ..."
1,89.92,Arabica,metad plc,Ethiopia,METAD PLC,METAD PLC,2014/2015,METAD Agricultural Developmet plc,1950-2200,GUJI-HAMBELA/ALAKA,...,Sample 89.92,0.12,0 full defects,0.0,Green,1 full defects,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ..."
2,89.75,Arabica,Grounds for Health Admin,Guatemala,"San Marcos Barrancas ""San Cristobal Cuch",NaN,NaN,NaN,1600 - 1800 m,NaN,...,Sample 89.75,0.00,0 full defects,0.0,NaN,0 full defects,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
3,89,Arabica,Yidnekachew Dabessa,Ethiopia,Yidnekachew Dabessa Coffee Plantation,Wolensu,NaN,Yidnekachew Debessa Coffee Plantation,1800-2200,Oromia,...,Sample 89.00,0.11,0 full defects,0.0,Green,2 full defects,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ..."
4,88.83,Arabica,metad plc,Ethiopia,METAD PLC,METAD PLC,2014/2015,METAD Agricultural Developmet plc,1950-2200,GUJI-HAMBELA/BISHAN FUGU,...,Sample 88.83,0.12,0 full defects,0.0,Green,2 full defects,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,78.75,Robusta,Luis Robles,Ecuador,ROBUSTASA,Our own lab,NaN,ROBUSTASA,NaN,"San Juan, Playas",...,Sample 78.75,0.00,0 full defects,0.0,Blue-Green,1 full defects,"January 18th, 2017",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
1336,78.08,Robusta,Luis Robles,Ecuador,ROBUSTASA,Own laboratory,NaN,ROBUSTASA,40,"San Juan, Playas",...,Sample 78.08,0.00,0 full defects,0.0,Blue-Green,0 full defects,"January 18th, 2017",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
1337,77.17,Robusta,James Moore,United States,Fazenda Cazengo,Cafe Cazengo,NaN,Global Opportunity Fund,795 meters,"Kwanza Norte Province, Angola",...,Sample 77.17,0.00,0 full defects,0.0,NaN,6 full defects,"December 23rd, 2015",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
1338,75.08,Robusta,Cafe Politico,India,NaN,NaN,14-1118-2014-0087,Cafe Politico,NaN,NaN,...,Sample 75.08,0.10,20 full defects,0.0,Green,1 full defects,"August 25th, 2015",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
1339,73.75,Robusta,Cafe Politico,Vietnam,NaN,NaN,NaN,Cafe Politico,NaN,NaN,...,Sample 73.75,0.12,63 full defects,0.0,None,9 full defects,"August 25th, 2015",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100

In [59]:
search_nulles(data).head(44)
data[data['NA'] != data['NA.1']][['NA', 'NA.1']]
data.drop("NA", axis=1, inplace=True)

       NA    NA.1
352   NaN  Sample
379   NaN  Sample
920   NaN     NaN
964   NaN     NaN
1089  NaN     NaN

In [63]:
part = int(len(data) / 4)
part

335

In [64]:
data_for_csv = data[:part]
data_for_csv_auto = data[part:2 * part]
data_for_excel = data[2 * part: 3 * part]
data_for_excel_auto = data[3 * part:]

data_for_csv.to_csv("output.csv")
data_for_csv_auto.to_csv("output_auto.csv")
data_for_excel.to_excel("output.xlsx") 
data_for_excel_auto.to_excel("output_auto.xlsx")