In [1]:
import pandas as pd
import numpy as np
import operator
from tqdm import tqdm

In [2]:
data = pd.read_excel('kofe-2.xlsx')
data.drop('id', axis=1, inplace=True)
data.shape

(1354, 52)

In [3]:
data.describe()

,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Number of Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,NA.2,Moisture,Quakers,NA.3,Unnamed: 51
count,0.0,0.0,0.0,1340.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,0.0,1337.000000,1336.000000,0.0,0.0
mean,NaN,NaN,NaN,154.067910,7.565931,7.519589,7.400120,7.535610,7.520000,7.516126,9.827651,9.827883,9.847195,7.502573,NaN,0.088265,0.173653,NaN,NaN
std,NaN,NaN,NaN,130.006861,0.380141,0.400798,0.405863,0.380411,0.361518,0.417258,0.616560,0.810312,0.684493,0.475396,NaN,0.048373,0.832717,NaN,NaN
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,NaN,0.090000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,172.500000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,NaN,0.110000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,NaN,0.120000,0.000000,NaN,NaN
max,NaN,NaN,NaN,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,NaN,0.280000,11.000000,NaN,NaN

In [4]:
def search_nulles(data):
    nulles = data.isnull().sum().sort_values(ascending=False)
    percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([nulles, percent], axis=1, keys=['Nulles', 'Percent'])
    return missing_data

search_nulles(data).head(30)

                                  Nulles   Percent
Cupping Protocol and Descriptors    1354  1.000000
View Green Analysis Details         1354  1.000000
NA.3                                1354  1.000000
Request a Sample                    1354  1.000000
Unnamed: 51                         1354  1.000000
NA.2                                1354  1.000000
view_certificate_2                  1353  0.999261
view_certificate_1                  1351  0.997784
Notes                               1349  0.996307
Lot Number                          1078  0.796160
Farm Name                            373  0.275480
Mill                                 329  0.242984
Producer                             246  0.181684
Variety                              244  0.180207
Altitude                             236  0.174298
Color                                236  0.174298
Company                              224  0.165436
Processing Method                    188  0.138848
ICO Number                           171  0.126292
Region                                72  0.053176
Harvest Year                          62  0.045790
Owner.1                               23  0.016987
Owner                                 21  0.015510
Certification Contact                 19  0.014032
NA                                    19  0.014032
Quakers                               18  0.013294
Total Cup Points                      17  0.012555
Moisture                              17  0.012555
NA.1                                  17  0.012555
Category One Defects                  17  0.012555

In [5]:
print('Так как некоторые столбцы полностью заполнены нулевыми значениями, то их можно удалить')
print('Более того, можно удалить столбцы с более 50% пропусков')
data.drop("Cupping Protocol and Descriptors", axis=1, inplace=True)
data.drop("View Green Analysis Details", axis=1, inplace=True)
data.drop("NA.3", axis=1, inplace=True)
data.drop("Request a Sample", axis=1, inplace=True)
data.drop("Unnamed: 51", axis=1, inplace=True)
data.drop("NA.2", axis=1, inplace=True)
data.drop("view_certificate_2", axis=1, inplace=True)
data.drop("view_certificate_1", axis=1, inplace=True)
data.drop("Notes", axis=1, inplace=True)
data.drop("Lot Number", axis=1, inplace=True)

Так как некоторые столбцы полностью заполнены нулевыми значениями, то их можно удалить
Более того, можно удалить столбцы с более 50% пропусков

In [6]:
print('Проверим ещё раз нулевые значения')
search_nulles(data).head(30)

Проверим ещё раз нулевые значения

                       Nulles   Percent
Farm Name                 373  0.275480
Mill                      329  0.242984
Producer                  246  0.181684
Variety                   244  0.180207
Color                     236  0.174298
Altitude                  236  0.174298
Company                   224  0.165436
Processing Method         188  0.138848
ICO Number                171  0.126292
Region                     72  0.053176
Harvest Year               62  0.045790
Owner.1                    23  0.016987
Owner                      21  0.015510
Certification Contact      19  0.014032
NA                         19  0.014032
Quakers                    18  0.013294
Balance                    17  0.012555
Sweetness                  17  0.012555
Category Two Defects       17  0.012555
Category One Defects       17  0.012555
Moisture                   17  0.012555
Total Cup Points           17  0.012555
Cupper Points              17  0.012555
Certification Body         17  0.012555
Body                       17  0.012555
Expiration                 17  0.012555
Clean Cup                  17  0.012555
Uniformity                 17  0.012555
Status                     17  0.012555
NA.1                       17  0.012555

In [7]:
print('Заметим, что в самом конце таблицы с нулями есть атрибуты с одинаковым количеством нулей. Посмотрим на эти данные')
print('Есть целые строчки с нулевыми значениям. Так как они не несут нам пользы - удалим их')
search_nulles(data).head(42)

Заметим, что в самом конце таблицы с нулями есть атрибуты с одинаковым количеством нулей. Посмотрим на эти данные
Есть целые строчки с нулевыми значениям. Так как они не несут нам пользы - удалим их

                       Nulles   Percent
Farm Name                 373  0.275480
Mill                      329  0.242984
Producer                  246  0.181684
Variety                   244  0.180207
Color                     236  0.174298
Altitude                  236  0.174298
Company                   224  0.165436
Processing Method         188  0.138848
ICO Number                171  0.126292
Region                     72  0.053176
Harvest Year               62  0.045790
Owner.1                    23  0.016987
Owner                      21  0.015510
Certification Contact      19  0.014032
NA                         19  0.014032
Quakers                    18  0.013294
Balance                    17  0.012555
Sweetness                  17  0.012555
Category Two Defects       17  0.012555
Category One Defects       17  0.012555
Moisture                   17  0.012555
Total Cup Points           17  0.012555
Cupper Points              17  0.012555
Certification Body         17  0.012555
Body                       17  0.012555
Expiration                 17  0.012555
Clean Cup                  17  0.012555
Uniformity                 17  0.012555
Status                     17  0.012555
NA.1                       17  0.012555
Certification Address      17  0.012555
Aroma                      17  0.012555
Flavor                     17  0.012555
Aftertaste                 17  0.012555
Acidity                    17  0.012555
Country of Origin          15  0.011078
Grading Date               15  0.011078
Species                    14  0.010340
In-Country Partner         14  0.010340
Number of Bags             14  0.010340
Bag Weight                 14  0.010340
quality_score               9  0.006647

In [8]:
data[data['Farm Name'].isnull() == False][['Owner', 'Owner.1', 'Farm Name', 'Mill', 'Company', 'Producer']].head(50)

,Owner,Owner.1,Farm Name,Mill,Company,Producer
0,metad plc,metad plc,METAD PLC,METAD PLC,METAD Agricultural Developmet plc,METAD PLC
1,metad plc,metad plc,METAD PLC,METAD PLC,METAD Agricultural Developmet plc,METAD PLC
2,Grounds for Health Admin,Grounds for Health Admin,"San Marcos Barrancas ""San Cristobal Cuch",NaN,NaN,NaN
3,Yidnekachew Dabessa,Yidnekachew Dabessa,Yidnekachew Dabessa Coffee Plantation,Wolensu,Yidnekachew Debessa Coffee Plantation,Yidnekachew Dabessa Coffee Plantation
4,metad plc,metad plc,METAD PLC,METAD PLC,METAD Agricultural Developmet plc,METAD PLC
7,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Aolme,C.P.W.E,NaN,Bazen Agricultural & Industrial Dev't Plc
8,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Aolme,C.P.W.E,NaN,Bazen Agricultural & Industrial Dev't Plc
9,Diamond Enterprise Plc,Diamond Enterprise Plc,Tulla Coffee Farm,Tulla Coffee Farm,DIAMOND ENTERPRISE PLC,Diamond Enterprise Plc
10,Mohammed Lalo,Mohammed Lalo,Fahem Coffee Plantation,NaN,Fahem Coffee Plantation,Fahem Coffee Plantation
11,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,El filo,NaN,Coffee Quality Institute,Alfredo De Jesús López Pérez
12,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,Los Cedros,NaN,Coffee Quality Institute,Jorge Walter Restrepo
13,Grounds for Health Admin,Grounds for Health Admin,Arianna Farms,NaN,NaN,"Robert, Sharon, Arianna Wood"
14,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Aolme,C.P.W.E,NaN,Bazen Agricultural & Industrial Dev't Plc
15,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,El Águila,NaN,Coffee Quality Institute,María Leticia Diosa
16,Grounds for Health Admin,Grounds for Health Admin,Toarco Jaya,NaN,NaN,P.T. Toarco Jaya
18,Yunnan Coffee Exchange,Yunnan Coffee Exchange,Echo Coffee,Echo Coffee Mill,Yunnan Coffee Exchange,Echo Coffee
19,EssenceCoffee,EssenceCoffee,Drima Zede,Drima Zede,Essence Coffee,LevelUp
20,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,El Rodeo,NaN,Coffee Quality Institute,Nicolás Rueda Urrego
21,The Coffee Source Inc.,The Coffee Source Inc.,SEVERAL,CAFE DE ALTURA SAN RAMON,The Coffee Source Inc.,SEVERAL
22,ROBERTO LICONA FRANCO,ROBERTO LICONA FRANCO,LA HERRADURA,LA HERRADURA,NaN,ROBERTO LICONA FRANCO
23,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,La curva,NaN,Coffee Quality Institute,Silvia Elena Higuita
25,NUCOFFEE,NUCOFFEE,Fazenda Kaquend,NaN,NUCOFFEE,Ralph Junqueira
27,Kabum Trading company,Kabum Trading company,Chebonet (23) women coffee,Kabum trading company,Kabum Trading company,Kabum trading company
28,Bismarck Castro,Bismarck Castro,Los Hicaques,CIGRAH S.A. DE C.V.,CIGRAH S.A DE C.V,Reinerio Zepeda
29,"Lin, Che-Hao Krude 林哲豪","Lin, Che-Hao Krude 林哲豪",Tsoustructive Garden 鄒築園,Tsoustructive Garden 鄒築園,Taiwan Coffee Laboratory,"FANG,ZHENG-LUN 方政倫"
32,NUCOFFEE,NUCOFFEE,Fazenda Recreio,NaN,NUCOFFEE,Homero Texeira de Macedo Junior
33,Francisco A Mena,Francisco A Mena,Exclusive Coffees S.A.,"Exclusive Coffees S.A,",Exclusive Coffees S.A.,Exclusive Coffees S.A.
34,Hider Abamecha,Hider Abamecha,Haider Abamecha Coffee Plantation,Faysal Abamecha Processing Plant at yebu Town,Haider Abamecha Coffee Export,Haider Abamecha Abadiko
35,Daniel Magu,Daniel Magu,Kangunu,central kenya coffee mills,C dorman Ltd,Kangunu
37,Kona Pacific Farmers Cooperative,Kona Pacific Farmers Cooperative,Kona Pacific Farmers Co-Op,NaN,NaN,Kona Pacific Farmers Co-Op
38,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,"Phone number | 0911-51-08-01, Email | at",NaN,NaN,Contact name | ATO Teshome Belamo
39,CQI Q Coffee Sample Representative,CQI Q Coffee Sample Representative,La Primavera,NaN,Coffee Quality Institute,Hugo Sepúlveda Montoya
40,ITDP International,ITDP International,Co-op #12,NaN,Lanna Cafe,ITDP
41,Jacques Pereira Carneiro,Jacques Pereira Carneiro,Pereira Estate Coffee,Cocarive,NaN,Maria Rogeria Costa Pereira
42,Jacques Pereira Carneiro,Jacques Pereira Carneiro,Pereira Estate Coffee,Cocarive,NaN,Maria Rogeria Costa Pereira
43,"Lin, Che-Hao Krude 林哲豪","Lin, Che-Hao Krude 林哲豪",Sunshine Valley Estate 向陽高山咖啡,Sunshine Valley Estate 向陽高山咖啡,Taiwan Coffee Laboratory,LIN YEN CHIEN 林言謙
44,Jungle Estate,Jungle Estate,JUNGLE ESTATE,NKG COFFEE MILLS,Keremara Limited,JUNGLE ESTATE
45,NUCOFFEE,NUCOFFEE,Fazenda Kaquend,NaN,NUCOFFEE,Ralph Junqueira
46,Great Lakes Coffee Uganda,Great Lakes Coffee Uganda,Kaasayi,Great Lakes,UCDA,Kaasay Farmer Group
47,LUSSO LAB,LUSSO LAB,Ecobio Colombia,NaN,LUSSO COFFEE LAB,NaN
48,LUSSO LAB,LUSSO LAB,KIANJAVI,NaN,LUSSO COFFEE LAB,NaN
50,Ethiopia Commodity Exchange,Ethiopia Commodity Exchange,Contact | sidacoop@ethionet.net,Coffee Processing and Warehouse Enterpri,NaN,Sidama Coffee Farmers Coop. Union
51,Grounds for Health Admin,Grounds for Health Admin,Hula Daddy Kona Coffee,NaN,NaN,Hula Daddy Kona Coffee
52,Juan Luis Alvarado Romero,Juan Luis Alvarado Romero,LA ESPERANZA Y ANEXOS,BENEFICIO IXCHEL,"UNEX GUATEMALA, S.A.",MARGARITA AVILA DE NUYENS
53,Kawacom Uganda LTD,Kawacom Uganda LTD,Sipi organic coffee project,Kawacom (U) Ltd,Kawacom uganda LTD,Kawacom (U)Ltd
55,Gonzalo Hernandez,Gonzalo Hernandez,La Berlina Estate,Beneficio Casa Ruiz S.A.,CE Specialty S.A.,Plinio Ruiz
57,Juan Luis Alvarado Romero,Juan Luis Alvarado Romero,VALPARAISO,BENEFICIO VALPARAISO,SERTRASA,SERTRASA
58,Juan Luis Alvarado Romero,Juan Luis Alvarado Romero,FINCA EL LIMON,BENEFICIO SERBEN KM 21.5 CARRETERA A VILLA CAN...,"UNICAFE, S.A",WILLIAM ESTUARDO MARTINEZ PACHECO
59,SEID DAMTEW COFFEE PLANATAION,SEID DAMTEW COFFEE PLANATAION,seid damtew coffee export and plantation,seid damtew coffee export and plantation,Seid Damtew Coffee Planation,seid damtew coffee export and plantation
61,"Colbran Coffeelands, Ltd.","Colbran Coffeelands, Ltd.",Tairora Cherry – Bonta,Baroida,CQI,"Colbran CoffeeLands, Ltd."

In [9]:
data[data['Owner'] != data['Owner.1']][['Owner', 'Owner.1']]

                         Owner    Owner.1
219                 CECA, S.A.  CECA,S.A.
364                        NaN        NaN
459                        NaN        NaN
602                        NaN        NaN
848                        NaN        NaN
882                        NaN        NaN
918                        NaN        NaN
921                        NaN        NaN
922                        NaN        NaN
964              Klem Organics        NaN
965                        NaN        NaN
966                        NaN        NaN
967                        NaN        NaN
981                        NaN        NaN
1050                       NaN        NaN
1089  CQI Taiwan ICP CQI台灣合作夥伴        NaN
1090                       NaN        NaN
1091                       NaN        NaN
1092                       NaN        NaN
1093                       NaN        NaN
1094                       NaN        NaN
1095                       NaN        NaN
1242                       NaN        NaN
1243                       NaN        NaN

In [10]:
data.drop("Owner.1", axis=1, inplace=True)
print('Удаляем Owner.1 тк этот столбец фактически дублирует Owner')

Удаляем Owner.1 тк этот столбец фактически дублирует Owner

In [11]:
nulles = {}

def isNaN(num):
    return num != num

def NaN_in_row(data):
    i = 0
    while i < len(data):
        line = data.iloc[i]
        for item in line:
            if isNaN(item):
                if i in nulles.keys():
                    nulles[i] += 1
                else:
                    nulles[i] = 1
        i += 1
    return dict(sorted(nulles.items(), key=operator.itemgetter(1), reverse=True))

print('Посмотрим, сколько есть записей с нулевыми ячейками')
nulles = NaN_in_row(data)
list(nulles.items())[:20]

Посмотрим, сколько есть записей с нулевыми ячейками

[(918, 41),
 (922, 41),
 (967, 41),
 (1091, 41),
 (1093, 41),
 (1094, 41),
 (1095, 41),
 (1242, 41),
 (1243, 41),
 (921, 40),
 (965, 40),
 (966, 40),
 (1090, 40),
 (1092, 40),
 (1089, 28),
 (964, 26),
 (920, 25),
 (1209, 11),
 (334, 10),
 (373, 10)]

In [12]:
d = dict((k, v) for k, v in nulles.items() if v >= 40)
drop = list(d)

data.drop(data.index[drop], inplace=True)

data.reset_index(drop=True)
print('Удалим строки, в которых больше 39 нулевых значений \nтк вряд ли они несут пользу для нашего анализа, ведь всего 42 столбца')

Удалим строки, в которых больше 39 нулевых значений
тк вряд ли они несут пользу для нашего анализа, ведь всего 42 столбца

In [13]:
data[data['NA'] != data['NA.1']][['NA', 'NA.1']]
data.drop("NA", axis=1, inplace=True)
print('Удаляем NA тк этот столбец фактически дублирует NA.1')

Удаляем NA тк этот столбец фактически дублирует NA.1

In [14]:
data[data['Owner'].isnull()][['Owner', 'Farm Name', 'Mill', 'Company', 'Producer']].head(21)

,Owner,Farm Name,Mill,Company,Producer
364,NaN,Los Hicaques,CIGRAH SPS,CIGRAH,Reynerio Zepeda
459,NaN,Los Hicaques,CIGRAH SPS,CIGRAH,Reynerio Zepeda
602,NaN,Supply Chain ECOM CCA S.A.,South Huila,ECOM CCA S.A.,Supply Chain ECOM CCA S.A.
848,NaN,Gran Manzana y el Aguacate,CIGRAH SPS,CIGRAH,"Tomás Sosa, Juan Damaso"
882,NaN,Gran Manzana y el Aguacate,CIGRAH SPS,CIGRAH,"Tomás Sosa, Juan Damaso"
981,NaN,Los Hicaques,CIGRAH,CIGRAH,Reinerio Zepeda
1050,NaN,Los Hicaques,CIGRAH,CIGRAH,Reinerio Zepeda

In [15]:
data[data['Company'] == 'CIGRAH'][['Owner', 'Farm Name', 'Mill', 'Company', 'Producer', 'Region', 'Altitude', 'ICO Number', 'In-Country Partner']].head(21)

,Owner,Farm Name,Mill,Company,Producer,Region,Altitude,ICO Number,In-Country Partner
364,NaN,Los Hicaques,CIGRAH SPS,CIGRAH,Reynerio Zepeda,Comayagua,1350,13-111-240,Instituto Hondureño del Café
459,NaN,Los Hicaques,CIGRAH SPS,CIGRAH,Reynerio Zepeda,Comayagua,1350,13-111-193,Instituto Hondureño del Café
655,Elsy Reyes,Las Cuchillas,CIGRAH S.A DE C.V,CIGRAH,Nahun Maldonado,Comayagua,1400,13-111-097,Instituto Hondureño del Café
848,NaN,Gran Manzana y el Aguacate,CIGRAH SPS,CIGRAH,"Tomás Sosa, Juan Damaso",Comayagua,1350,13-111-311,Instituto Hondureño del Café
882,NaN,Gran Manzana y el Aguacate,CIGRAH SPS,CIGRAH,"Tomás Sosa, Juan Damaso",Comayagua,1400,13-111-192,Instituto Hondureño del Café
912,Elsy Reyes,LAS CUCHILLAS,CIGRAH,CIGRAH,NAHUN MALDONADO,COMAYAGUA,1400,13-111-083,Instituto Hondureño del Café
981,NaN,Los Hicaques,CIGRAH,CIGRAH,Reinerio Zepeda,Central Region,1450 mals,13-111-037,Instituto Hondureño del Café
1050,NaN,Los Hicaques,CIGRAH,CIGRAH,Reinerio Zepeda,Central Region,1450 mals,13-111-035,Instituto Hondureño del Café

In [16]:
owner = data[data['Company'] == 'CIGRAH']['Owner'].unique()[1]
nan_index = data[data['Owner'].isnull()].index
data.loc[nan_index, 'Owner'] = pd.Series(owner, index=nan_index)
print('Так как мы хотим использовать Owner как первичный составной ключ, \nто нельзя допустить в нём нулевые значения. Заполняем их уникальным значением владельца в этой компании')

Так как мы хотим использовать Owner как первичный составной ключ,
то нельзя допустить в нём нулевые значения. Заполняем их уникальным значением владельца в этой компании

In [17]:
data[data['Quakers'].isnull() == False]['Quakers'].unique()

array([ 0.,  1.,  4.,  2.,  5.,  6.,  3., 11.,  7.,  9.,  8.])

In [18]:
def split_weight(data):
    for i in tqdm(range(len(data))):
        item = data.iloc[i, 12]
        if isinstance(item, int):
            weigth = item
        else:
            words = item.split(' ')
            weigth = int(words[0])
            if len(words) > 1:
                metric = words[1]
                if metric.lower().strip() == 'lbs':
                    weigth = weigth * 0.453592
        data.iloc[i, 12] = round(weigth, 3)
    return data

In [19]:
data = split_weight(data)
data['Bag Weight']
# data.iloc[0, 12]

100%|██████████| 1340/1340 [00:00<00:00, 1610.96it/s]

0          60
1          60
2           1
3          60
4          60
        ...
1349        2
1350        2
1351        1
1352    2.268
1353    2.268
Name: Bag Weight, Length: 1340, dtype: object

In [20]:
def split_defects(data, number='one'):
    for i in tqdm(range(len(data))):
        if number == 'one':
            k = 32
        elif number == 'two':
            k = 35
        item = data.iloc[i, k]
        if isNaN(item) is False:
            words = item.split(' ')
            defects = int(words[0])
        data.iloc[i, k] = defects
            
    return data

In [23]:
data = split_defects(data)
data = split_defects(data, 'two')

100%|██████████| 1340/1340 [00:00<00:00, 2135.79it/s]
100%|██████████| 1340/1340 [00:00<00:00, 2110.58it/s]

In [22]:
# part = int(len(data) / 4)
# data_for_csv = data[:part]
# data_for_csv_auto = data[part:2 * part]
# data_for_excel = data[2 * part: 3 * part]
# data_for_excel_auto = data[3 * part:]

# data_for_csv.to_csv("output.csv")
# data_for_csv_auto.to_csv("output_auto.csv")
# data_for_excel.to_excel("output.xlsx") 
# data_for_excel_auto.to_excel("output_auto.xlsx")